@import '../abstracts/variables';
@import '../abstracts/mixins';

.footer {
    padding: 10rem 5rem;

    background-color: $color-grey-dark-3;

    font-size: 1.4rem;

    &__row {
        @include respond(phone) {
            align-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    &__logo-box {
        margin-bottom: 8rem;

        text-align: center;

        @include respond(phone) {
            margin-bottom: 4rem;
        }
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__item {
        padding-top: 2rem;

        border-top: 1px solid $color-grey-dark-2;

        @include respond(phone) {
            border: none;
        }
    }

    &__list {
        display: flex;

        list-style: none;
    }

    &__link {
        display: inline-block;

        margin-right: 1.5rem;

        &:last-child {
            margin-right: 0;
        }
    }

    &__copyright {
        color: $color-grey-light-1;

        &--link {
            transition: all .2s;

            background-color: $color-grey-dark-3;

            &:link,
            &:visited {
                display: inline-block;

                text-decoration: none;
                text-transform: uppercase;

                color: $color-grey-light-1;
            }

            &:hover,
            &:active {
                transform: rotate(5deg) scale(1.2);

                color: $color-primary;
                box-shadow: 0 1rem 2rem rgba($color-black, .4);
            }
        }
    }

    @include respond(phone) {
        padding: 6rem 2rem;
    }

}