.header {
	&__logo {
		height: 3.25rem;

		margin-left: 3rem;
	}

	&__search {
		display: flex;
		align-items: center;
		justify-content: center;

		flex: 0 0 40%;

		@media only screen and (max-width: $bp-smallest) {
			order: 1;
			flex: 0 0 100%;

			background-color: $color-grey-light-2;
		}

		&--icon {
			width: 2rem;
			height: 2rem;

			fill: $color-grey-dark-3;
		}

		&--input {
			width: 90%;

			margin-right: -3.25rem;
			padding: 0.7rem 2rem;

			transition: all 0.2s;

			background-color: $color-grey-light-2;
			border: none;
			border-radius: 30px;

			color: inherit;

			font-family: inherit;
			font-size: inherit;

			&::placeholder {
				color: $color-grey-light-4;
			}

			&:focus {
				width: 100%;

				outline: none;

				background-color: $color-grey-light-3;

				@media only screen and (max-width: $bp-smallest) {
					width: 90%;

					background-color: transparent;
				}
			}
		}

		&--input:focus + &--button {
			background-color: $color-grey-light-3;
		}

		&--button {
			border: none;
			background-color: $color-grey-light-2;

			cursor: pointer;

			&:focus {
				outline: none;
			}

			&:active {
				transform: translateY(-2px);
			}
		}
	}

	&__user-nav {
		display: flex;
		align-items: center;
		align-self: stretch;

		& > * {
			padding: 0 2rem;

			transition: all 0.4s;

			cursor: pointer;

			&:hover {
				background-color: $color-grey-light-2;
			}
		}

		&--icon-box {
			position: relative;
		}

		&--icon-box,
		&--user {
			display: flex;
			align-items: center;
			align-self: stretch;
		}

		&__icon {
			width: 2.25rem;
			height: 2.25rem;

			fill: $color-grey-dark-2;
		}

		&--notification {
			position: absolute;
			top: 1.5rem;
			right: 1.1rem;

			display: flex;
			align-items: center;
			justify-content: center;

			width: 1.75rem;
			height: 1.75rem;

			border-radius: 50%;
			background-color: $color-primary;
			color: $color-white;

			font-size: 0.8rem;
		}

		&--user-photo {
			height: 3.75rem;

			margin-right: 1rem;

			border-radius: 50%;
		}
	}
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.side-nav {
		margin-top: 3.5rem;

		list-style: none;

		font-size: 1.3rem;

		@media only screen and (max-width: $bp-medium) {
			display: flex;

			margin-top: 0;
		}

		&__item {
			position: relative;

			cursor: pointer;

			@media only screen and (max-width: $bp-medium) {
				flex: 1;
			}

			&::before {
				content: '';

				position: absolute;
				top: 0;
				left: 0;

				width: 3px;
				height: 100%;

				transform: scaleY(0);
				transform-origin: center;

				transition: transform 0.2s, width 0.4s 0.2s,
					background-color 0.1s;

				background-color: $color-primary;
			}

			&:not(:last-child) {
				margin-bottom: 0.5rem;

				@media only screen and (max-width: $bp-medium) {
					margin-bottom: 0;
				}
			}

			&:hover::before,
			&--active::before {
				width: 100%;

				transform: scaleY(1);
			}

			&:active::before {
				background-color: $color-primary-light;
			}
		}

		&__link:link,
		&__link:visited {
			position: relative;

			display: flex;
			align-items: center;

			z-index: 2;

			padding: 1.5rem 3rem;

			color: $color-grey-light-1;

			text-decoration: none;
			text-transform: uppercase;

			@media only screen and (max-width: $bp-medium) {
				justify-content: center;
			}

			@media only screen and (max-width: $bp-small) {
				flex-direction: column;
			}

			@media only screen and (max-width: $bp-smallest) {
				font-size: 1rem;
			}
		}

		&__icon {
			width: 1.75rem;
			height: 1.75rem;

			margin-right: 2rem;

			fill: currentColor;

			@media only screen and (max-width: $bp-small) {
				width: 1.4rem;
				height: 1.4rem;

				margin-right: 0;
				margin-bottom: .5rem;
			}
		}
	}

	&__legal {
		padding: 2.5rem;

		text-align: center;

		color: $color-grey-light-4;

		font-size: 1.2rem;

		@media only screen and (max-width: $bp-medium) {
			display: none;
		}
	}
}


.gallery {
	display: flex;

	&__photo {
		display: block;

		width: 100%;
	}
}


.overview {
	display: flex;
	align-items: center;

	border-bottom: $border-line;

	&__heading {
		padding: 1.5rem 3rem;

		text-transform: uppercase;
		letter-spacing: 1px;

		font-size: 2.25rem;
		font-weight: 300;

		@media only screen and (max-width: $bp-small) {
			padding: 1.25rem 2rem;

			font-size: 1.8rem;
		}
	}

	&__stars {
		display: flex;

		margin-right: auto;
	}

	&__icon-stars, &__icon-location  {
		width: 1.75rem;
		height: 1.75rem;

		fill: $color-primary;
	}

	&__location {
		display: flex;
		align-items: center;

		font-size: 1.2rem;
	}

	&__icon-location {
		margin-right: .5rem;
	}

	&__rating {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		align-self: stretch;

		padding: 0 2.25rem;
		margin-left: 3rem;

		color: $color-white;
		background-color: $color-primary;

		@media only screen and (max-width: $bp-small) {
			padding: 0 1.5rem;
		}

		&-average {
			margin-bottom: -3px;

			font-size: 2.25rem;
			font-weight: 300;

			@media only screen and (max-width: $bp-small) {
				font-size: 1.8rem;
			}
		}

		&-count {
			text-transform: uppercase;

			font-size: .8rem;

			@media only screen and (max-width: $bp-small) {
				font-size: .5rem;
			}
		}
	}
}

.btn-inline {
	display: inline-block;

	padding-bottom: 2px;

	transition: all .2s;

	border: none;
	border-bottom: 1px solid currentColor;
	background-color: transparent;
	color: $color-primary;

	font-size: inherit;

	cursor: pointer;

	& span {
		margin-left: 3px;

		transition: margin-left .2s;
	}

	&:hover {
		color: $color-grey-dark-1;

		span {
			margin-left: 8px;
		}
	}

	&:focus {
		outline: none;
		animation: pulsate 1s infinite;
	}
}

.paragraph:not(:last-of-type) {
	margin-bottom: 2rem;
}

.list {
	display: flex;
	flex-wrap: wrap;

	margin: 3rem 0;
	padding: 3rem 0;

	border-top: $border-line;
	border-bottom: $border-line;

	list-style: none;

	&__item {
		display: flex;
		align-items: center;
		flex: 0 0 50%;

		margin-bottom: .7rem;

		&::before {
			content: "";

			display: inline-block;

			width: 1rem;
			height: 1rem;

			margin-right: .7rem;

			//background-image: url("../img/SVG/chevron-thin-right.svg");
			//background-size: cover;

			background-color: $color-primary;
			mask-image: url("../img/SVG/chevron-thin-right.svg");
			mask-size: cover;
			-webkit-mask-image: url("../img/SVG/chevron-thin-right.svg");
			-webkit-mask-size: cover;
		}
	}
}

.recommend {
	display: flex;
	align-items: center;


	color: $color-grey-dark-3;

	font-size: 1.3rem;

	&__friends {
		display: flex;
	}

	&__friends-photo {
		box-sizing: content-box;

		width: 4rem;
		height: 4rem;

		border-radius: 50%;
		border: 3px solid $color-white;

		&:not(:last-child) {
			margin-right: -2rem;
		}
	}

	&__count {
		margin-right: auto;
	}
}

.review {
	position: relative;

	margin-bottom: 3.5rem;
	padding: 3rem;

	overflow: hidden;

	background-color: $color-white;
	box-shadow: $shadow-light;

	@media only screen and (max-width: $bp-medium) {
		padding: 2rem;
		margin-bottom: 3rem;
	}

	&::before {
		content: "\201C";

		position: absolute;
		top: -2rem;
		left: -1rem;

		z-index: 1;

		font-family: sans-serif;

		line-height: 1;

		color: $color-grey-light-2;
		font-size: 20rem;
	}

	&__text {
		position: relative;

		margin-bottom: 2rem;

		z-index: 2;
	}

	&__user {
		display: flex;
		align-items: center;

		&-box {
			margin-right: auto;
		}

		&-name {
			margin-bottom: .4rem;

			text-transform: uppercase;

			font-size: 1.1rem;
			font-weight: 600;
		}

		&-date {
			color: $color-grey-dark-3;

			font-size: 1rem;
		}

	}

	&__photo {
		width: 4.5rem;
		height: 4.5rem;

		margin-right: 1.5rem;

		border-radius: 50%;
	}

	&__rating {
		color: $color-primary;

		font-size: 2.2rem;
		font-weight: 300;
	}
}

.cta {
	padding: 3.5rem 0;

	text-align: center;

	@media only screen and (max-width: $bp-medium) {
		padding: 2.5rem 0;
	}

	&__book-now {
		margin-bottom: 2.5rem;

		text-transform: uppercase;

		font-size: 1.7rem;
		font-weight: 300;
	}
}

.btn {
	position: relative;

	overflow: hidden;

	color: $color-white;
	background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
	border: none;
	border-radius: 100px;

	text-transform: uppercase;
	cursor: pointer;

	font-size: 1.5rem;
	font-weight: 300;


	// Берет все вложенные элементы в родителя
	// То есть visible и invisible и задает им стили
	& > * {
		display: inline-block;

		width: 100%;
		height: 100%;

		transition: all .2s;
	}

	&__visible {
		padding: 2rem 7.5rem;
	}

	&__invisible {
		position: absolute;
		top: -100%;
		left: 0;

		padding: 2rem 0;
	}

	&:hover {
		background-image: linear-gradient(to left, $color-primary-light, $color-primary-dark);
	}

	&:hover &__visible {
		transform: translateY(100%);
	}

	&:hover &__invisible {
		top: 0;
	}

	&:focus {
		outline: none;
		animation: pulsate 1s infinite;
	}
}


@keyframes pulsate {
	0% {
		transform: scale(1);
		box-shadow: none;
	}

	50% {
		transform: scale(1.05);
		box-shadow: 0 1rem 4rem rgba($color-black,.25);
	}

	100% {
		transform: scale(1);
		box-shadow: none;
	}
}