*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  /* 1rem | 1erm it's 10px */
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes move-in-bottom {
  0% {
    transform: translateY(3rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes move-in-left {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  80% {
    transform: translateX(1rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes move-in-right {
  0% {
    transform: translateX(10rem);
    opacity: 0; }
  80% {
    transform: translateX(-1rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

body {
  padding: 3rem;
  color: #777;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  backface-visibility: hidden;
  margin-bottom: 6rem;
  text-transform: uppercase;
  color: #FFF; }
  .heading-primary--main {
    display: block;
    animation-name: move-in-left;
    animation-duration: 1s;
    letter-spacing: 3.5rem;
    font-size: 6rem;
    font-weight: 400; }
  .heading-primary--sub {
    display: block;
    animation-name: move-in-right;
    animation-duration: 1s;
    letter-spacing: 1.4rem;
    font-size: 2rem;
    font-weight: 700; }

.heading-secondary {
  display: inline-block;
  transition: all .6s;
  letter-spacing: .2rem;
  text-transform: uppercase;
  color: transparent;
  background-image: linear-gradient(to right, #7ED56F, #28B485);
  -webkit-background-clip: text;
  font-size: 3.5rem;
  font-weight: 700; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-medium {
  margin-bottom: 4rem; }

.u-margin-top-small {
  margin-bottom: 1.5rem; }

.section-about {
  margin-top: -20vh;
  padding: 25rem 0;
  background-color: #F7F7F7; }

.section-features {
  margin-top: -9rem;
  padding: 20rem 0;
  transform: skewY(-7deg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../image/nat-4.jpg");
  background-position: top;
  background-size: cover; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  margin-top: -9rem;
  padding: 25rem 0 15rem;
  background-color: #F7F7F7; }

.section-stories {
  padding: 15rem 0;
  background-color: #F7F7F7; }

.btn {
  font-size: 1.6rem; }
  .btn::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    content: "";
    transition: all .4s;
    border-radius: 10rem; }
  .btn:link, .btn:visited {
    position: relative;
    display: inline-block;
    padding: 1.5rem 4rem;
    transition: all .2s;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10rem; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    color: #777;
    background-color: #FFF; }
    .btn--white::after {
      background-color: #FFF; }
  .btn--green {
    color: #FFF;
    background-color: #55C57A; }
    .btn--green::after {
      background-color: #55C57A; }
  .btn--animated {
    animation: move-in-bottom .5s ease-out .75;
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  display: inline;
  padding: 7px;
  cursor: pointer;
  transition: all .2s;
  text-decoration: none;
  color: #55C57A;
  border-bottom: 1px solid #55C57A;
  font-size: 1.6rem; }

.btn-text:hover {
  transform: translateY(-2px);
  color: #FFF;
  background-color: #55C57A;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.composition {
  position: relative; }
  .composition__photo {
    position: absolute;
    width: 55%;
    transition: all .2s;
    outline-offset: 2rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
    .composition__photo:hover {
      z-index: 1;
      transform: scale(1.1) translateY(-0.5rem);
      outline: 1.5rem solid #55C57A;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.card-item {
  position: relative;
  width: 30%;
  height: 52rem;
  perspective: 150rem; }
  .card-item__side {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 52rem;
    transition: all .8s ease;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    backface-visibility: hidden; }
    .card-item__side--front {
      background-color: #FFF; }
    .card-item__side--back {
      transform: rotateY(180deg); }
      .card-item__side--back-1 {
        background-image: linear-gradient(to right bottom, #FFB900, #FF7730); }
      .card-item__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ED56F, #28B485); }
      .card-item__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998FF, #5643FA); }
  .card-item__picture {
    height: 23rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    background-size: cover;
    background-blend-mode: screen; }
    .card-item__picture--1 {
      background-image: linear-gradient(to right bottom, #FFB900, #FF7730), url("../image/nat-5.jpg"); }
    .card-item__picture--2 {
      background-image: linear-gradient(to right bottom, #7ED56F, #28B485), url("../image/nat-6.jpg"); }
    .card-item__picture--3 {
      background-image: linear-gradient(to right bottom, #2998FF, #5643FA), url("../image/nat-7.jpg"); }
  .card-item__heading {
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
    text-align: right;
    text-transform: uppercase;
    color: #FFF;
    font-size: 2.8rem;
    font-weight: 300; }
  .card-item__heading-span {
    padding: 1rem 1.15rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card-item__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card-item__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card-item__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card-item__details {
    padding-top: 3rem; }
    .card-item__details ul {
      width: 80%;
      margin: 0 auto;
      list-style: none; }
      .card-item__details ul li {
        padding: 1rem;
        text-align: center;
        font-size: 1.5rem; }
        .card-item__details ul li:not(:last-child) {
          border-bottom: 1px solid #EEE; }
  .card-item__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .card-item__price-box {
    margin-bottom: 8rem;
    text-align: center;
    color: #FFF; }
  .card-item__price-only {
    text-transform: uppercase;
    font-size: 1.4rem; }
  .card-item__price-value {
    font-size: 6rem;
    font-weight: 100; }
  .card-item:hover .card-item__side--front {
    transform: rotateY(-180deg); }
  .card-item:hover .card-item__side--back {
    transform: rotateY(0); }

.story {
  width: 75%;
  margin: 0 auto 8rem;
  padding: 6rem 6rem 6rem 9rem;
  transform: skewX(-12deg);
  border-radius: 3px;
  background-color: #FFF;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  font-size: 1.6rem; }
  .story * > {
    transform: skewX(12deg); }
  .story__shape {
    position: relative;
    float: left;
    width: 15rem;
    height: 15rem;
    transform: translateX(-3rem) skewX(12deg);
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%); }
  .story__img {
    height: 100%;
    transition: all .5s;
    transform: translateX(-4rem) scale(1.4);
    object-fit: contain; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all .5s;
    transform: translate(-50%, 20%);
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    color: #FFF;
    font-size: 1.7rem; }
  .story__text {
    transform: skewX(12deg); }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(0.1rem) brightness(80%); }

.feature-box {
  width: 23%;
  padding: 2.5rem;
  transition: all .4s;
  text-align: center;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  font-size: 1.5rem; }
  .feature-box path {
    stroke: #55C57A; }
  .feature-box__icon {
    width: 6rem;
    height: auto; }
  .feature-box:hover {
    transform: scale(1.03) translateY(-1.5rem); }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../image/hero.jpg");
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo {
    width: auto;
    height: 3.5rem; }
    .header__logo-box {
      position: absolute;
      top: 4rem;
      left: 4rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 116rem;
  margin: 0 auto; }
  .row__item {
    width: 50%;
    padding: 0 20px; }

.features {
  display: flex;
  align-items: center;
  justify-content: center; }
